<% @companies.each do |company| %>

      
      <% @list_of_users = company.users %>
      <% @user_count = 0 %>
      <% @list_of_users.each do |user| %>
        <% if user.id == current_user.id %>
          <% @user_count = @user_count + 1 %>
        <% end %>
      <% end %>
    
        
    <% if @user_count > 0 %>
      <div class="card border-success mb-3" style="max-width: 35rem;">
        <div class="card-header">
            <h2 align="center">
              <%= company.name %>
            </h2>
        </div>
        <div class="card-body">
          <p class="card-text">
            <a href="<%= company.URL %>" target="_blank"><%= company.URL %></a>
            <a href="/create_favorite/<%= company.id %>/<%= current_user.id %>">
              <% if @user_count > 0 %>
                <a href="/delete_favorite/<%= @favorite_id %>">
                  <i class="fas fa-heart"></i>
                </a>
              <% else %>
                <a href="/create_favorite/<%= company.id %>/<%= current_user.id %>">
                  <i class="far fa-heart"></i>
                </a>
              <% end %>
            </a>
          </p>
          <p class="card-text">
            
            Location: <%= company.city%>, <%= company.state%>
            
            <br>
            
            Latest Funding Round: $<%= company.last_funding_amount%>M (<%= company.last_funding_date%>)
            
          </p>
          <a role="button" class="btn btn-primary btn-lg btn-block" href="/companies/<%= company.id %>">More</a>
        </div>
      </div>
      
  <% end %>
<% end %>