<h1>
  <%= @company.name %> - Company Details
</h1>

<a href="/companies/<%= @company.id %>/edit">
  Edit company
</a>

<hr>

<dl>

  <dd>
    <a href="<%= @company.URL %>" target="_blank"><%= @company.URL %></a>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @company.description %>
  </dd>

  <dt>
    Total funding
  </dt>
  <dd>
    $<%= @company.total_funding %>M
  </dd>

  <dt>
    Sector
  </dt>
  <dd>
    <%= @company.sector %>
  </dd>

  <dt>
    Industry
  </dt>
  <dd>
    <%= @company.industry %>
  </dd>

  <dt>
    Sub industry
  </dt>
  <dd>
    <%= @company.sub_industry %>
  </dd>

  <dt>
    Country
  </dt>
  <dd>
    <%= @company.country %>
  </dd>

  <dt>
    State
  </dt>
  <dd>
    <%= @company.state %>
  </dd>

  <dt>
    City
  </dt>
  <dd>
    <%= @company.city %>
  </dd>

  <dt>
    Vc backed
  </dt>
  <dd>
    <%= @company.vc_backed %>
  </dd>

  <dt>
    Last funding round
  </dt>
  <dd>
    <%= @company.last_funding_round %>
  </dd>

  <dt>
    Last funding date
  </dt>
  <dd>
    <%= @company.last_funding_date %>
  </dd>

  <dt>
    Last funding amount
  </dt>
  <dd>
    $<%= @company.last_funding_amount %>M
  </dd>

</dl>

<a href="/delete_company/<%= @company.id %>">
  Delete company
</a>

<hr>

<a href="/companies">
  Go back
</a>
